<!DOCTYPE html>
<html lang="en">
    <head>
        <title>This is page action Browser</title>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link href="hello.page.css" rel="stylesheet">
        
    </head>
    <body class="hello-page-action-view">
    
        <h1 class="txtHeader">This is hello page</h1>
        <input class="inputMain" type="text" name="" value="">
        <button class="btnHello">Hello Alert</button>

        <button class="btnRequestAsync">Request data async</button>

        <script src="../../build/bundle.js"></script>
    </body>
</html>